<nav class="navbar navbar-default" ng-controller="MenuCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main">Diomar</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="identity.isAuthorized('seller')"><a ui-sref="checkout"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Caja</a></li>
                <li ng-show="identity.isAuthorized(['seller', 'owner'])"><a ui-sref="sales"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Ventas</a></li>
                <li><a ui-sref="inventory" ng-show="identity.isAuthorized(['seller', 'owner'])"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Inventario</a></li>
                <li><a ui-sref="location" ng-show="identity.isAuthorized('owner')"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Tiendas</a></li>
                <li><a ui-sref="seller" ng-show="identity.isAuthorized('owner')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Vendedores</a></li>
                <li><a ui-sref="brand" ng-show="identity.isAuthorized('owner')"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Marcas</a></li>
                <li><a ui-sref="categories" ng-show="identity.isAuthorized('owner')"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Categorías</a></li>
                <li><a ui-sref="product" ng-show="identity.isAuthorized('owner')"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Productos</a></li>
                <li class="dropdown" ng-hide="isAuthenticated">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Iniciar sesión <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div ng-controller="LoginCtrl" id="login">
                                <form name="loginForm" class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Correo electrónico" ng-model="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Contraseña" ng-model="password">
                                    </div>
                                    <button type="submit" class="btn btn-default" ng-click="login()">Entrar</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <li ng-show="isAuthenticated"><a ng-controller="LoginCtrl" ng-click="logout()">Cerrar sesión</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>