<section class="inventory">
	<div class="row">
		<div class="col-md-12">
			<h3>Inventario</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<form name="searchForm" class="col-md-4 col-lg-4 col-sm-4">
            <h4>Formulario para la búsqueda de productos</h4>
            <p class="alert alert-warning">Puedes realizar la búsqueda de productos, usando los diferentes filtros. Entre más filtros se utilizen los resultados se reduciran.</p>
			<div class="form-group">
                <label>Localidad</label>
                <select ng-model="locList" name="locList" ng-options="location.name for location in locations track by location._id" required></select>
                <span class="error" ng-show="searchForm.locList.$error.required">* Requerido</span>
            </div>
            <div class="form-group">
                <label>Categoría</label>
                <select ng-model="catList" ng-options="category.name for category in categories track by category._id"></select>
            </div>
            <div class="form-group">
                <label>Nombre del producto</label>
                <input type="text" name="name" ng-model="name">
            </div>
            <div class="form-group">
                <label>Código de barras o IMEI</label>
                <input type="text" name="barcode" ng-model="barcode">
            </div>
            <button type="button" class="btn btn-group" ng-click="searchProducts()" ng-disabled="searchForm.$invalid">Buscar productos</button>
		</form>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
            <div class="alert alert-info">
                <p>Total de los productos mostrados: ${{additionalInfo.totalProductsPrice}}</p>
                <p>Cantidad de productos mostrados: {{additionalInfo.productsCount}}</p>
            </div>
        </div>
		<div class="col-md-4"></div>
	</div>
    <table class="table-condensed table-striped">
        <thead>
        <tr>
            <th>_id</th>
            <th>Localidad</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Vendido</th>
            <th>Código de barras o IMEI</th>
            <th>SIM</th>
            <th>Descripción</th>
            <th>Fecha de ingreso</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products | filter: prod | orderBy: q">
            <td>{{product._id}}</td>
            <td>{{product.locationName}}</td>
            <td>{{product.categoryName}}</td>
            <td>{{product.brandName}}</td>
            <td>{{product.name}}</td>
            <td>${{product.price}}</td>
            <td>{{product.soldOut}}</td>
            <td>{{product.barcode}}</td>
            <td>{{product.sim}}</td>
            <td>{{product.description}}</td>
            <td>{{product.createdAt}}</td>
            <td>
                <a class="btn btn-info" ui-sref="product-edit({id: product._id})" target="_self">Modificar</a>
                <button class="btn btn-danger" ng-click="deleteProduct(product._id)" type="submit">Borrar</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <button class="btn btn-info" ng-click="viewMoreProducts()" type="submit">Mostrar más productos</button>
        </div>
    </div>
</section>