<div class="row product-form">
    <div class="col-md-12">
        <h2>Localidades</h2>
        <p>Son los lugares físicos donde vendes tus productos.</p>
        <p>Dentro de la plataforma serán tiendas virtuales,</p>
    </div>
    <div class="col-md-3">
        <p ng-show="identity.isAuthorized('owner')">Bienvenido propietario</p>
    </div>
    <div class="col-md-6">
        <h4>Crea una localidad</h4>
        <form name="locationForm">
            <input type="hidden" name="id" ng-model="id">
            <div class="form-group">
                <label for="storeName">Nombre de la tienda virtual</label>
                <input type="text" class="form-control" id="storeName" ng-model="name" name="name" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="description">Descripción de la tienda</label>
                <input type="text" class="form-control" id="description" ng-model="description" name="description" placeholder="Descripción">
            </div>
            <button type="submit" id="create-location" class="btn btn-default" ng-click="createLocation()">Crear localidad</button>
            <button type="submit" id="save-location" class="btn btn-default" ng-click="saveLocation()">Guardar</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Listado de localidades</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><strong>Localidades</strong></p>
    </div>
    <div class="col-md-4">
        <p><strong>Descripciones</strong></p>
    </div>
    <div class="col-md-4">
        <p><strong>Opciones</strong></p>
    </div>
</div>
<div class="row" ng-repeat="location in locations">
    <div class="col-md-4">
        <p>{{location.name}}</p>
    </div>
    <div class="col-md-4">
        <p>{{location.description}}</p>
    </div>
    <div class="col-md-4">
        <p>
            <button class="btn btn-primary" ng-click="editLocation(location._id)">Modificar</button>
            <button class="btn btn-default">Desactivar</button>
        </p>
    </div>
</div>