html, body
  height 100%
.navbar
  margin-bottom 0px
.mark-up
  height 100%
  background-color #3e9bba
  position relative
  .toggle-menu
    display block
    left 0
    margin 0 0 0 0
    position absolute
    width: 62px
    height: 55px
  .aside-menu
    height 100%
    position absolute
    width 0px
  .views-content
    background-color #f8f8f8
    height 100%  
.checkout-product
  background-color #82dabf
  border 2px transparent
  border-radius 4px
  position relative
  p
    margin 2px 0 2px 10px
  .remove-icon
    position absolute
    right 10px
    top 20%
.total
  background-color #82dabf
  border 2px transparent
  border-radius 4px
  p
    margin 2px 0 2px 10px
.amount
  width 50px
.checkout-btn
  font-size 1.5em
  height 50px
  width 100%
.checkout-btn:hover
  background-color #7fdbbf
.chart div
  font 10px sans-serif
  background-color steelblue
  text-align right
  padding 3px
  margin 1px
  color white   
footer
  background-color #3e9bba