html,
body {
  height: 100%;
}
.navbar {
  margin-bottom: 0px;
}
.mark-up {
  height: 100%;
  background-color: #4cae4c;
  position: relative;
}
.mark-up .toggle-menu {
  background: url("../images/on-off-button.png") no-repeat 0 0;
  display: block;
  left: 0;
  margin: 0 0 0 0;
  position: absolute;
  width: 62px;
  height: 55px;
}
.mark-up .aside-menu {
  height: 100%;
  position: absolute;
  width: 0px;
}
footer {
  background-color: #f8f8f8;
}
