html,
body {
  height: 100%;
}
.navbar {
  margin-bottom: 0px;
}
#toast-container {
  margin: 40px auto auto auto;
}
.error {
  color: #f00;
  font-size: 0.8em;
  font-weight: bold;
}
.mark-up {
  background-color: #3e9bba;
  margin-bottom: 50px;
  position: relative;
}
.mark-up .toggle-menu {
  display: block;
  left: 0;
  margin: 0 0 0 0;
  position: absolute;
  width: 62px;
  height: 55px;
}
.mark-up .aside-menu {
  height: 100%;
  position: absolute;
  width: 0px;
}
.mark-up .views-content {
  background-color: #f8f8f8;
}
.mark-up .views-content .product-form #save-location {
  display: none;
}
.mark-up .views-content .category-form #save-category {
  display: none;
}
.mark-up .views-content .brand-form #save-brand {
  display: none;
}
.mark-up .views-content .seller-form #save-seller {
  display: none;
}
.mark-up .views-content .cart-wrapper {
  min-height: 200px;
  position: relative;
}
.mark-up .views-content .cart-wrapper #loader {
  background-image: url("../images/loader.gif");
  background-color: transparent;
  background-position: center center;
  display: none;
  height: 150px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  top: 1px;
  width: 200px;
  z-index: 1;
}
.checkout-product {
  background-color: #82dabf;
  border: 2px transparent;
  border-radius: 4px;
  position: relative;
}
.checkout-product p {
  margin: 2px 0 2px 10px;
}
.checkout-product .remove-icon {
  position: absolute;
  right: 10px;
  top: 20%;
}
.total {
  background-color: #82dabf;
  border: 2px transparent;
  border-radius: 4px;
}
.total p {
  margin: 2px 0 2px 10px;
}
.amount {
  width: 50px;
}
.checkout-btn {
  font-size: 1.5em;
  height: 50px;
  width: 100%;
}
.checkout-btn:hover {
  background-color: #7fdbbf;
}
.chart div {
  font: 10px sans-serif;
  background-color: #4682b4;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: #fff;
}
.inventory p {
  font-size: 0.8em;
}
.inventory .location {
  font-size: 0.6em;
  font-weight: bolder;
}
.inventory table {
  width: 100%;
}
footer {
  background-color: #3e9bba;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
}
footer p {
  color: #fff;
  margin-top: 10px;
}
