html, body
  height 100%
.navbar
  margin-bottom 0px
aside
 float left
 height 100%
 width 300px
section
 float left   
.content
  height 100%
  background-color #4cae4c
  .ng-view-content
    background-color #f8f8f8
    height 100%
footer
  background-color #f8f8f8