<div class="row">
    <div class="col-md-12">
        <h2>Marcas</h2>
        <p>Las marcas son los identificadores con los que se relacionarán tus productos.</p>
        <p>Una marca puede relacionarse con muchos productos.</p>
        <p>Ten en cuenta que no son los productos virutales de tu tienda.</p>
    </div>
</div>
<div class="row brand-form">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form name="brandForm">
            <div class="form-group">
                <label for="brandName">Nombre de la marca</label>
                <input type="text" class="form-control" id="brand" ng-model="brand" name="brand" placeholder="Nombre">
            </div>
            <button type="submit" id="create-brand" class="btn btn-default" ng-click="addBrand()">Agregar marca</button>
            <button type="submit" id="save-brand" class="btn btn-default" ng-click="saveBrand()">Guardar</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Listado de marcas</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Marcas</p>
    </div>
    <div class="col-md-6">
        <p>Opciones</p>
    </div>
</div>
<div class="row" ng-repeat="brand in brands">
    <div class="col-md-6">
        <p>{{brand.name}}</p>
    </div>
    <div class="col-md-6">
        <p>
            <button class="btn btn-info" ng-click="editBrand(brand._id)">Modificar</button>
            <button class="btn btn-danger" ng-click="deleteBrand(brand._id)">Borrar</button>
        </p>
    </div>
</div>