<div class="row">
    <div class="col-md-12">
        <h2>Productos</h2>
        <p>Estos son los productos de tu tienda virtual.</p>
        <p>Cada que renueves tu productos físicos, te recomendamos agregarlos virtualmente.</p>
        <p>El control de inventario y métricas tendrán un mejor desempeño si agregas tus productos físicos.</p>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form name="productForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Selecciona la localidad a la cual vas agregar tus productos:</label>
                    <div ng-repeat="location in locations">
                        <p><input type="radio" ng-model="$parent.location_id" name="location_id" ng-value="location._id" required/> {{location.name}}</p>
                    </div>
                    <span class="error", ng-show="productForm.location_id.$error.required">* requerido</span>
                </div>
                <div class="form-group">
                    <label>Si la lista es muy larga puedes filtrarla escribiendo una marca:</label>
                    <input type="text" ng-model="brandFilter" name="brandFilter" placeholder="Ejemplo: Apple">
                    <label>Selecciona una marca</label>
                    <select ng-model="brandList" ng-options="brand.name for brand in brands | filter: brandFilter track by brand._id" required></select>
                    <span class="error", ng-show="productForm.brandList.$error.required">* requerido</span>
                </div>
                <div class="form-group">
                    <label>Si la lista es muy larga puedes filtrarla escribiendo una categoría:</label>
                    <input type="text" ng-model="categoryFilter" name="categoryFilter" placeholder="Ejemplo: Accesorios">
                    <label>Selecciona una categoría</label>
                    <select ng-model="categoryList" ng-options="category.name for category in categories | filter: categoryFilter track by category._id" required></select>
                    <span class="error", ng-show="productForm.categoryList.$error.required">* requerido</span>
                </div>
                <div class="form-group">
                    <label for="productName">Nombre del producto</label>
                    <input type="text" class="form-control" id="productName" ng-model="productName" name="productName" placeholder="Nombre" required>
                    <span class="error", ng-show="productForm.productName.$error.required">* requerido</span>
                </div>
                <div class="form-group">
                    <label for="price">Precio del producto</label>
                    <input type="number" class="form-control" id="price" ng-model="price" name="price" placeholder="Precio" required>
                    <span class="error", ng-show="productForm.price.$error.required">* requerido</span>
                </div>
                <div class="form-group">
                    <label for="description">Descripción del producto</label>
                    <input type="text" class="form-control" id="description" ng-model="description" name="description" placeholder="Descripción">
                </div>
                <!--<div class="form-group">
                    <label>Cantidad de productos</label>
                    <i class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-click="upCountProduct()"></i>
                    <div class="badge">
                        <div>{{codesCount}}</div>
                    </div>
                    <i class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-click="downCountProduct()"></i>
                </div>-->
                <div class="form-group">
                    <label for="description">Código de barras o IMEI</label>
                    <input type="text" class="form-control" ng-model="barcode" name="barcode" placeholder="IMEI">
                </div>
                <div class="form-group">
                    <label for="description">SIM o chip amigo</label>
                    <input type="text" class="form-control" ng-model="sim" name="sim" placeholder="SIM">
                </div>
                <!--<div class="form-group codes-group">
                    <label>Códigos de barras y SIM por producto</label>
                    <div class="imei">
                        <input ng-repeat="barcode in product.barCodes track by $index" type='text' ng-model='product.barCodes[$index]' placeholder='Códifo de barras o IMEI No. {{$index}}' class="form-control">
                    </div>
                    <div class="sim">
                        <input ng-repeat="sim in item.sims track by $index" type='text' ng-model='item.sims[$index]' placeholder='SIM o chip amigo No. {{$index}}' class="form-control">
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="image">Imagen del producto</label>
                    <input type="file" id="image" ng-model="image" name="file" image-file="files">
                    <p class="help-block">La imagen del producto, ayudará a que el vendedor lo identifique visualmente en el punto de venta.</p>
                    <img ng-src="{{file}}">
                </div>
                <button type="button" class="btn btn-default" ng-click="addProduct()" ng-disabled="productForm.$invalid">Agregar producto</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>